player-connection-mode=Listen
player-connection-guid=3080278238
player-connection-debug=0
player-connection-project-name=MultiplayerGame
player-connection-ip=192.168.101.11
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9b03893e7de245a88ee087bc8d33321c
